
<div class="main">
<h1>What kind of article do you want to find?</h1>


<div class="question">
    <img class="icon" src="../assets/search.png"/>
    <label> <br> Which phase you want to find?<br></label>
<input type="text" [(ngModel)]="phase" placeholder="Write article phase to find">

</div>
 
<div  class="question">
    <img class="icon" src="../assets/power.png"/>
    <span> <br>Which start date?<br></span>
    <input type="date" [(ngModel)]="startDate" placeholder="Write start date">
</div>

<div  class="question">
    <img class="icon" src="../assets/the-end.png"/>
    <span> <br>Which end date?<br></span>
    <input type="date"  [(ngModel)]="endDate" placeholder="Write end date">
</div>

<div  class="question">
    <img class="icon"  (click) = "changeSort()" src='{{ "../assets/"+sort+".png" }}'>
    <span class="questionTag"> <br>Sort from: {{sort}}<br></span>
    <span style="font-size:15px;"> Click the icon to change the sort type </span>    
</div>

<div>
<button id="findBtn" (click)="find()" [disabled]="!phase || !startDate || !endDate" [ngClass]="[(!phase || !startDate || !endDate)? 'findBtnDisable' : 'findBtn']">Let's find it!</button>
</div>

<div>
    <!--<img class="processingImg" id="processingImg" src="https://media.giphy.com/media/mWaLPeeQLPT3i/giphy.gif">-->
    <img class="processingImg" id="processingImg" src="../assets/processing.gif">
</div>


<div class="listStyle">
    <h1  id="listStyleName" class="listStyleName">List of articles:<br></h1>
    <div class="paging" id="paging">
        <p  (click)="goFirst()" >First page</p>
        <img class="pagingElem" (click)="goPrevious()" src="https://img.icons8.com/bubbles/50/000000/circled-chevron-left.png"/>
        <p >{{this.pageNo}}/{{maxPage}}</p>
        <img class="pagingElem" (click)="goNext()" src="https://img.icons8.com/bubbles/50/000000/circled-chevron-right.png"/>
        <p  (click)="goLast()">Last page</p>
    </div>
    <p id="errorInfo" ><br>No result of the search... Please try again!</p>
<li class="listStyle" *ngFor="let user of arcticles">    
    <a>{{user.headline.main}}</a> 
   <!-- <a href="{{user.web_url | safe}}" target="_blank"> Go read it!</a>-->
   <a href="{{user.web_url | safe}}" target="_blank">
       <img class="goToArticleIcon" src="../assets/play-button.png">
   </a>
</li>

</div>
</div>